@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    padding: 0px;
    margin: 0px;
}
.text-primary{
    color: orange;
}
/* button styling */
.btn-primary{
    background-color: orange;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn-primary:hover{
    background-color: darkorange;
}
/* header */
.header{
    background-image: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* navigatin styling */

.nav-link{
    color: black;
    transition: 1.0s;
}
.nav-link:hover{
    color: orange;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin: 20px;
}
nav ul li a{
    text-decoration: none;

}

/* banner styling */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
    align-items: center;
}
.banner-content{
    max-width: 580px ;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 80px;
}
.banner-profile-picture{
    width: 500px;

}